.flipping-card-scene {
    perspective: 1000px;

    .card {
        margin: auto;
        
        .card__inner {
            transition: transform 0.6s ease;
            transform-style: preserve-3d;
            position: relative;

            .card__face {
                position: absolute;
                inset: 0;
                display: grid;
                place-items: center;
                font-size: 1.5rem;
                font-weight: bold;
                border-radius: 12px;
                backface-visibility: hidden;

                &.card__face--front {
                    background: linear-gradient(135deg, #22d3ee, #2563eb);
                }

                &.card__face--back {
                    background: linear-gradient(135deg, #34d399, #10b981);
                    transform: rotateY(180deg);
                }
            }


        }

        &.is-flipped .card__inner {
            transform: rotateY(180deg) rotateZ(90deg);
        }
    }
}