@media(min-width:992px) {
    #main-panel.container {
        max-width: 878px;
    }
}
nav {
   padding: 12px 0px;
   background-image: linear-gradient(to right, white, white, rgb(245 236 229), rgb(245 215 195) );
}

nav div.container {
    /* height: 89.97px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}
nav div.container > ul.nav-menu {
    padding-top: 0px;
}
nav div.container > ul.nav-menu > li > a {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
div.logo > a {
    margin: 8px 0px;
    font-size: 23px;
    display: block;
    font-family: 'Bilbo Swash Caps';
    font-weight: 500;
}
.message {
    color:#eeeeee;
    position:absolute;
    font-family: 'Roboto', sans-serif;
    padding:6px 10px;
    background-color: rgba(30,30,30,0.35);
    border-radius: 7px;
}
.arrow-right {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.p-heading {
    font-family: 'Crimson Text', serif !important;
    line-height:1.3;
    margin-top: 0px;
}
#about {
    padding-top: 150px;
    padding-bottom: 60px;
}
.about-descr > p.separator {
    max-width: 90%;
}
#about .div-img-bg {
    border: 17px solid rgb(238, 126, 61);
}
.nav-menu > li > a {
    position: relative;
}
.nav-menu > li > a.active::after {
    content:'';
    position: absolute;
    width:100%;
    bottom: -5px;
    left: 0px;
    right: 0px;
    border-bottom:2px solid rgb(238, 126, 61);
    display: block;
}
.services-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.logo-container {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bar-back {
    width: 90%;
    height: 22px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 3px 9px -2px #5E5E5E; 
    box-shadow: 0px 3px 9px -2px #5E5E5E;
}
.bar {
    border-radius: 6px 0px 0px 6px;
    height: 100%;
    line-height: 22px;
    padding:0px 6px;
    color: #dedede;
    font-size: 13px;
    text-shadow: 2px 2px 4px #000000;
}
.owl-item.active > .services-block  .bar {
    animation-name: progress;
    animation-duration: 4s;
}
@keyframes progress {
    from { 
        max-width: 0px; 
    }
    to {
        max-width: 500px; 
    }
}
.owl-item.active > .services-block  .bar > .bar-text {
    animation-name: text-progress;
    animation-duration: 2s;
}
@keyframes text-progress {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.owl-item .skills-descp {
    margin: 30px 6px;
}