.glass-effect-nav {
    background: #ffffff;;
    @media screen and (min-width: 768px) {
        backdrop-filter: blur(12px);
        background: linear-gradient(90deg, #ffffff 0%, #ffffff 35%, rgba(255, 255, 255, 0.60) 100%);
    }
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.nav-link {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: linear-gradient(135deg, #1e293b 0%, #475569 100%);
        transition: width 0.3s ease;
    }

    &.active::before {
        width: 100%;
        transition-delay: 200ms;
    }
}

#mobile-menu-btn {

    > span {
        display: block;
        position: absolute;
        border-radius: 1px;
        background-color: rgb(55 65 81 / var(--tw-text-opacity, 1));
        transition: top 0.2s ease,  transform 0.2s ease, width 0.2s ease, opacity 0.2s ease;
        height: 2px;
    }

    &.collapsed {
        > span {
            width: 16px;
            left: 4px;
            
            &:first-child {
                top: 25%;
            }
            

            &:nth-child(2),
            &:nth-child(3) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                bottom: 25%;
            }
        }
    }

    &:not(.collapsed) {
        > span {
            left: 4px;
            &:first-child, &:last-child {
                width: 0;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
            }

            &:nth-child(2), &:nth-child(3) {
                width: 16px;
                top: 50%;
                
                &:nth-child(2) {
                    transform: translateY(-50%) rotate(-45deg);
                }

                &:nth-child(3) {
                    transform: translateY(-50%) rotate(-135deg);
                }
            }

           
        }
    }
}

#mobile-menu {
    overflow: hidden;
    transition: height 0.2s ease;
    &.collapsed {
        height: 0;
    }
    &:not(.collapsed) {
        height: 296px;
    }
}

