/*  General Styling
/*-----------------------------------------------------------------------------------*/

body {
  background: #ffffff;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover{
  color: rgb(238, 126, 61);
  text-decoration: underline;
}

nav ul li a {
  position: relative;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin:20px 0px;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #cccccc;
  color: #fff;
}

::selection {
  background: #cccccc;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  position: fixed;
  background: #fff;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  display: none;
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 16px;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 40px;
}

nav ul li a {
  position: relative;
  font-size: 14px;
  color: #999999;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.logo {
  float: left;
}

.logo img {
  width: 100px;
  height: 50px;
}

.responsive {
  display: none;
  font-size: 23px;
}

.active {
  color: #afafaf;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {

  /*background-image:  */
  background:
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkYGBgyMzM/D99+nRGEA0mYBwQzUhQBQCTUxx5+Y70qgAAAABJRU5ErkJggg==),
 /* linear-gradient(
          rgba(95, 95, 95, 0.45),
          rgba(16, 75, 148, 0.45)
  ),*/
  url("../images/home-bg.jpg");
  background-repeat: repeat, repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: auto, cover;

/*scroll center center / cover;*/
  height: 100vh;
  width: 100%;
  min-height:650px;
  position:relative;

}

#header .header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-content {
  min-height:650px;
}
.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.header-content p {
  font-size: 13px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.header-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-content .list-social li i {
  color: #fff;
  font-size: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*  Aout-us
/*-----------------------------------------------------------------------------------*/

#about {
  width: 100%;
  height: auto;
  background: #dedede;
  padding-top: 190px;
}
#about p {
  color: #6d6d6d;
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: 'Noto Serif', serif;
  font-size: 28px;
  text-align: left;
}

#about .about-descr .separator {
  max-width: 85%;
  margin-bottom: 0;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/*   Services
/*-----------------------------------------------------------------------------------*/

#services {
  margin-top: 50px;
  background: inherit;
  position: relative;
  padding-bottom: 80px;
}

.owl-item {
  float: left;
}
.services-block span {
  margin: 10px 0;
  position: relative;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.services-block .separator {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}

.services-block i {
  font-size: 44px;
  color: #b8a07e;
  line-height: 44px;
}


.services-carousel  .owl-stage-outer {
  overflow: hidden;
}

.services-carousel .owl-dots {
  margin-top: 8px;
  text-align: center;
}

.services-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border: 0;
  padding: 0 !important;
  background-color: rgb(183, 183, 183);
  cursor: pointer;
}

.services-carousel .owl-dot.active {
  background-color: rgb(238, 126, 61);
}

.owl-nav {
  display: none;
}


/*-----------------------------------------------------------------------------------*/
/*  Portfolio
/*-----------------------------------------------------------------------------------*/

#portfolio {
  position: relative;
  padding-bottom: 50px;
  background-color:#dedede;
}

#portfolio .portfolio-list {
  margin-bottom: 50px;
}

#portfolio .portfolio-list .nav {
  display: inline-block;
  margin: 0;
}

#portfolio .portfolio-list .nav li {
  margin: 0 40px 0 0;
  float: left;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  cursor: pointer;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-list .nav li:hover, #portfolio .portfolio-list .nav li.filter-active  {
  color: #b8a07e;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-container {
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}

.portfolio-thumbnail {
  margin-bottom: 30px;
  overflow: hidden;
  position:relative;
}
.popup-img {
  color:transparent;
  display:inline-block;
  padding:0px;
  position:relative;
}
.popup-img:hover, .popup-img:focus, .popup-img:visited {
   color:#f3f3f3;
}
.popup-img:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.45);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.popup-img:hover:after {
    opacity:1;
}
.portfolio-thumbnail img {
  max-width: 100%;
}
.hoverText {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size:30px;
  white-space: nowrap;
  font-weight:500;
  word-spacing:4px;
  z-index:2;
}
/*-----------------------------------------------------------------------------------*/
/*  Journal
/*-----------------------------------------------------------------------------------*/

#journal,  #journal-blog {
  height: auto;
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 60px;
  position: relative;
}

#journal-blog {
  background: #fff;
  padding-bottom: 30px;
}

#journal .journal-block {
  display: inline-block;
  height: auto;
  width: 100%;
}

#journal .journal-block .journal-info {
  position: relative;
}

.journal-block .journal-info img {
  max-width: 100%;
}

.journal-block .journal-info .journal-txt {
  padding: 25px 0px;
  position: relative;
}

.journal-block .journal-info .journal-txt h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt h4 a:hover {
  color: #b8a07e;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

/*-----------------------------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------------------------*/

#contact {
  height: auto;
  width: 100%;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

#contact input, #contact textarea {
  width: 100%;
}


#contact  #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact  #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
}

#contact .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #b8a07e;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}
#arrow-back {
  font-size:70px;
  position:absolute;
  top:45%;
  left:1%;
  display:none;
  color:rgba(255,255,255,0.35);
  cursor: pointer;
}
#arrow-forward {
  font-size:70px;
  position:absolute;
  top:45%;
  right:1%;
  display:none;
  color:rgba(255,255,255,0.35);
  cursor: pointer;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(30,30,30,0.35);
    right: -5px;
}
.message, .typed, .typed-cursor {
  font-size:20px;
}

@media screen and (min-width: 380px) {
  .message, .typed, .typed-cursor {
    font-size:30px;
  }
  .arrow-right {
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-left: 7.5px solid rgba(30,30,30,0.35);
    right: -7.5px;
  }
}
@media screen and (min-width: 600px) {
  .message, .typed, .typed-cursor {
    font-size:40px;
  }
  .arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(30,30,30,0.35);
    right: -10px;
  }
}
.moreAboutMe {
  font-size: 25px;
  font-weight: normal;
  position: relative;
  padding:10px 15px;
  background-color:transparent;
  border:solid 2px white;
  color:white;
  display:none;
  top:-18px;
}
.moreAboutMe:focus {
  outline:none;
}
.moreAboutMe:hover {
  cursor:pointer;
}
.header-content .list-social {
  opacity:0;
}

.block {
  display: inline;
  opacity: 0;
  transition: opacity 2000ms;
}

.fade-in {
  opacity: 1;
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
@media only screen and (max-width: 860px) {
  #arrow-back, #arrow-forward {
    display:none !important;
  }
}
#heart-tag {
  position:absolute;
  top: 20px;
  right: 30px;
  background-color: rgba(255,255,255,0.35);
  height:38px;
  border-radius:5px;
  display:none;
}
#heart-tag:hover {
  /*border-radius:5px 5px 0px 0px !important;*/
}
.heart-tag-active {
  -webkit-animation-name: borderRadiusRemove; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
  animation-name: borderRadiusRemove;
  animation-duration: 0.7s;
  border-radius:5px 5px 0px 0px !important;
}
@keyframes borderRadiusRemove {
  0%   {border-radius:5px;}
  100% {border-radius:5px 5px 0px 0px;}
}
@-webkit-keyframes borderRadiusRemove {
  0%   {border-radius:5px;}
  100% {border-radius:5px 5px 0px 0px;}
}
#hover-content {
  position:absolute;
  top: 58px;
  right: 30px;
  background-color: rgba(255,255,255,0.35);
  max-width:220px;
  overflow: hidden;
  border-radius:5px 0px 5px 5px;
  word-wrap: break-word;
  padding:15px;
  color: #f0f0f0;
  display:none;
  -webkit-animation-name: slideTopRight; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
  animation-name: slideTopRight;
  animation-duration: 0.7s;
}

@keyframes slideTopRight {
  0%   {max-height:0px; max-width:65px; border-radius:5px;}
  100% {max-height:400px; max-width:220px; border-radius:5px 0px 5px 5px; }
}
@-webkit-keyframes slideTopRight {
  0%   {max-height:0px; max-width:65px; border-radius:5px;}
  100% {max-height:400px; max-width:220px; border-radius:5px 0px 5px 5px;}
}

#heart-icon {
  display:inline-block;
  color:white;
  padding:10px;
  font-size:18px;
  
}
#icon-text {
  display:inline-block;
  height:38px;
  float: right;
  line-height: 38px;
  padding-right: 15px;
  color:white;
  font-family:Roboto, sans-serif;
}
.header-content .list-social li i.ion-social-facebook:hover {
  color:#3b5998;
}

.header-content .list-social li i.ion-social-github:hover {
  color:#6e5494;
}

.header-content .list-social li i.ion-social-linkedin:hover {
  color:#0077b5;
}

.bar-container {
  margin: auto;
  width: 89%;

}

.services-block .skills-descp {
  margin-top:10px;

}
.progressbar__label {
  white-space:nowrap;
}
.services-carousel .owl-dot.active:focus {
  outline-width:0px;
  outline:none;
}
.resButton {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ee7e3d;
padding: 12px 0px;
width:140px;
border-radius: 15px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}
.resButton:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
#resume .row .col-md-4 {
  padding:15px 0px;
}
#showResume {
  cursor:pointer;
}